window {
    background-color: transparent;
}

#input {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 2px;
    border: 2px solid #61AFEF;
    background-color: #282C34;
    color: #E5C07B;
}

#scroll {
    border: 2px solid #61AFEF;
    background-color: #282C34;
}

#inner-box {
    margin: 20px;
}

#text {
    margin: 5px;
    color: #E5C07B;
}
